@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
header {
	font-size: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #ffffff;
	text-align: left;
	padding: 0px;
	margin: 0px; 
}
nav {
	margin: auto;
	background-color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
	border: 1px black solid;
	display: inline-block;
	text-decoration: none;
	text-align: center;
}

a {background-color: #E89C6C
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 10px;

}
article {
	background-color: #E89C6C;
	padding: 20px;
	width: 20px;
	color: black;
}
section {
	background-color: #FFE2B8;
	padding: 20px;
}
footer {
	background-color: #ffffff;
	border: 1px black solid;
	padding: 20px;
}
body {color: #BF930A;
	font-family: 'Open Sans Condensed', sans-serif;;
}
h1 {font-family: 'Open Sans Condensed', sans-serif;;
}


#two_column {
    background-color: #000000;
    padding: 20px;
}

#left {
    background-color: #ffffff;
    padding: 20px;
    float: right;
    width: 30%;
    color: #000000;
 
}

#right {
    background-color: #ffffff;
    padding: 20px;
    float: left;
    width: 40%;
   
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
} 

a:hover {
	background-color: #aaaaaa;
}