@import url('https://fonts.googleapis.com/css?family=Anton|Raleway');
#header {font-size: 100px;
border: 5px solid white; 
margin-bottom: 1cm;
 font-family: 'Anton', sans-serif;
}
body {text-align: center;
	background: url("https://static.pexels.com/photos/34088/pexels-photo.jpg");
	background-size: cover;
	color: #BF930A;
	font-family: 'Raleway', sans-serif;
}
h1{font-family: 'Anton', sans-serif;
}
hr {width: 200px;}
ul {text-align: center;
	list-style-type: none;
}
h3 {color: #FFFFFF;
font-family: 'Anton', sans-serif;
}
#slogan {font-style: italic}